.bookCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.search-total{
    font-size:20px;
    margin-bottom: 20px;

}
.book-link{
    color:#575757 !important;
}
.book-link:hover{
    transform: scale(1.05);
}
.button-load-more{
    color:inherit;
    font-family: inherit;
    font-size: 20px;
    border-radius: 5px;
    border-color: black;
    margin-bottom: 15px;
}

.button-load-more:hover{
    background: #809663;
    color:white;
    border-color: white;
}